/* Estilos boton */
.btn-bd-primary {
  font-weight: 600;
  color: #fff;
  background-color:  #215097;
  border-color: #215097;
}
.btn-bd-primary:hover,
.btn-bd-primary:active {
  color: #fff;
  background-color: #123f82;
  border-color: #123f82;
}
.btn-bd-primary:focus {
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.text-bd-primary {
  color: #726a7d;
}

.btn-transparent {
  background-color: transparent; 
  border: none;
}
