<!-- citas.ejs -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'local',
      locale: 'es',
      selectable: true,
      editable: true,
      slotMinTime:'08:00:00',
      slotMaxTime:'18:00:00',
      hiddenDays:[0,6],
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      buttonText: {
        today: 'Hoy',
        month: 'Mes',
        week: 'Semana',
        day: 'Día'
      },
      select: function(data) {
        // Abre el modal y pasa la fecha y hora del día clickeado
        $('#event-time').val('');
        $('#myModal').modal('show');
      
        var startDate = new Date(data.start);
        var timeZoneOffset = startDate.getTimezoneOffset();
      
        startDate.setMinutes(startDate.getMinutes() - timeZoneOffset);
      
        var formattedDate = startDate.toISOString().slice(0, 10); 
        $('#event-date').val(formattedDate);
        $('#event-time').val(startDate.toISOString().slice(11, 16));
      }
      
    });

    // Configurar el manejo del cambio de fecha y hora en el formulario
    $('#myModal').on('show.bs.modal', function(event) {
      var modal = $(this);
      var currentDate = $('#event-date').val();
      modal.find('#event-time').val(currentDate + 'T' + modal.find('#event-time').val());
    });

    calendar.render();
  });

</script>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Citas Médicas</h1>
    </div>
    <div class="card-body">
      <div id='calendar'></div>
    </div>
  </div>
</div>

<!-- Incluye el modal  -->
<%- include('../partials/modalCitas.ejs') %>
