<!-- citas.ejs -->

<%- include('../partials/utilFunctions.ejs') %>
<%- include('../partials/calendarScript.ejs') %>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Citas Médicas</h1>
        </div>
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<%- include('../partials/modalCitas.ejs') %>
