<title>Registro de Paciente</title>

<div class="card">
    <div class="card-header">
        <h1 style="font-size: 18px;">Registro de Paciente</h1>
    </div>
    <div class="card-body text-bd-primary">
        <form action="/registerPatient" method="POST" id="formRegisterPatient">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre completo</label>
                <input id="nombre" name="nombre" type="text" class="form-control" required maxlength="150">
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input id="apellido" name="apellido" type="text" class="form-control" required maxlength="150">
            </div>

            <div class="mb-3">
                <label for="cedula" class="form-label">Cédula</label>
                <input id="cedula" name="cedula" type="text" class="form-control" maxlength="15" minlength="7" title="La cédula debe contener al menos 7 dígitos" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
            </div>

            <div class="mb-3">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                <input id="fecha_nacimiento" name="fecha_nacimiento" type="date" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="genero" class="form-label">Género</label>
                <select id="genero" name="genero" class="form-select">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input id="direccion" name="direccion" type="text" class="form-control" maxlength="255" required>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input id="telefono" name="telefono" type="text" class="form-control" maxlength="15" minlength="10" title="El número de teléfono debe contener al menos 10 dígitos" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input id="correo" name="correo" type="email" class="form-control" maxlength="150" required>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <a href="/pacientes" type="button" class="btn btn-danger">Cancelar</a>
        <button form="formRegisterPatient" type="submit" class="btn btn-primary">Registrar Paciente</button>
    </div>
</div>

